.app {
  text-align: center;
}

.app-header {
  position: sticky;
  top: -100px;
}
.app-title {
  color: var(--coffee);
  font-family: Yanone Kaffeesatz, sans-serif;
  font-size: 3em;
  line-height: 1.05em;
  margin: 0;
  padding: 20px 0 0;
}

.app-subtitle {
  color: var(--powder);
  font-family: Poor Story, sans-serif;
  font-size: 1.5em;
}

.app-navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px 0px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.app-navbar > li {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 2.5px;
  padding: 10px;
}

.app-navbar > li:hover {
  border-bottom: 3px solid var(--powder);
  padding-bottom: 7px;
}
