:root {
  --teal: #07889b;
  --powder: #66b9bf;
  --coffee: #4f4436;
  --tan: #948c75;
  --dark: #333;
  --light: #ccc;

  --font-title: Yanone Kaffeesatz;
  --font-subtitle: Poor Story;
  --font-main: Scope One;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font-family: var(--font-main), serif;
}
